body {
	background-color: #978EFF;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	color: white;
	margin:0px 0px 0px 0px;
	display: block;
	text-align: center;
}

h2 {
	margin-bottom: 15px; 
	text-align: center;
	padding-bottom: 2px;
	margin-right: 2%;
	color: white;
}

h5 {
	color: lightgray;
	margin-top: 0px;
}

.creators { /*Powered by the Nine: Saadia Brahimi, Cali Armut, Laurent Hulstaert, Alexandre Ntougas, Michaël Tolis, Bertrand Honner, Yadrichnikov Nikolaï, Prince-kombo Bontala, Thomas Bouchard*/
	display: block;
	text-align: center;
}

.version {
	font-size: 14px;
}

.panel {
	position: absolute;
	border-radius: 15px;
	width: 55%;
	height: 15%;
	left: 22%;
}

.box-content {
	position: absolute;
	color: gray;
}

a {
	color: white;
	margin-right: 5px;
	text-decoration: none;
}

a:hover {
	text-decoration: line-through;
}

/*------------------
Profile
--------------------*/
.profile {

	position: absolute;
	display: run-in;
	/*background-color: rgba(180, 180, 180, 0.9);*/
	border-radius: 15px;
	top:200px;
    bottom: 0;
    left: 32%;
    right: 20%;
   
}

.profile-input {
	
	display: run-in;
	margin-top: 50px;
	background: transparent;
	border: none;
}

.profile-input__name {
	display: run-in;
}

.profile-cogs-icon {
	position: relative;
	padding: 0px 0px; 
	left: 50px;
	top: 8px;
	border-radius: 50px;
	color: lightgray;
	border-style: none;
	decoration: none;
	stroke: none;
}

.profile-cogs-icon:hover {
	color: lightblue;
}

.fa-cogs {
	padding: 10px; 
}

input {
	font-family: 'Roboto Mono', monospace;
	color: lightgray;
	background: transparent;
	border: none;
	outline: none;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 50px; 
	box-shadow: 0px 2px 0px white;
}

a {
	display: block;
	text-align: center;
}

button {
	background-color: transparent;
}
